@font-face {
  font-family: 'iranyekanwebregular';
  src: local('iranyekanwebregular'), url(./fonts/iranyekanwebregular.ttf) format('truetype');
}

.ql-font-yekan {
  font-family: 'iranyekanwebregular', sans-serif;
}

.ql-picker.ql-font {
  .ql-picker-item {
    font-size: 0;
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font{
  .ql-active {
    &:before {
      content: attr(data-value) !important;
      font-size: 14px;
    }
  }
}

.ql-picker.ql-font .ql-picker-label[data-value="yekan"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="yekan"]::before
{
    font-family: "iranyekanwebregular", cursive;;
    content: "yekan" !important;
}

.custom-quill .ql-editor {
  font-size: large; /* or the specific size you want */
  direction: rtl;
  text-align: right;
  font-family: 'iranyekanwebregular', sans-serif; /* Ensure 'Yekan' font is loaded in your project */
}

.ql-editor {
  overflow-y: scroll;
  resize: vertical;
}

.ql-editor {
  min-height: 150px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
